@import 'css-mother-starter';
@import 'styles/fonts';

body {
  background: #f3f3f3;
  position: relative;
}

button {
  border-radius: 5px;
  border: none;
  padding: .5rem 1rem;
  line-height: 1;
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,.8);
  transition: opacity .3s ease;
}

*:focus {
    outline: none;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: default;
  opacity: 0.4;
}

.square {
  width: 100%;
}

.slots {
  max-width: 411px;
  margin: 0 auto;
}

.slot-outer {
  position: relative;
  overflow: hidden;
  background: white;
}

.slot-inner {
  transform: translateZ(0);
}

.o0 {
  opacity: 0;
}

.trans0 {
  transition: opacity .1s ease;
}

.slots .col-4:nth-of-type(2) .slot-outer:after,
.slots .col-4:nth-of-type(2) .slot-outer:before {
  content: '';
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0;
  background: #f3f3f3;
  position: absolute;
}

.slots .col-4:nth-of-type(2) .slot-outer:before {
  left: 0;
}

.slots .col-4:nth-of-type(2) .slot-outer:after {
  right: 0;
}

.slots .col-4:nth-of-type(1) .scroll {
  transition: transform 2.4s ease;
}
.slots .col-4:nth-of-type(2) .scroll {
  transition: transform 2.7s ease;
}

.slots .col-4:nth-of-type(3) .scroll {
  transition: transform 3s ease;
}

.slots .scroll {
  transform: translateZ(0);
}

.borders {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.borders img {
  position: absolute;
}
.borders img:nth-of-type(1) {
  top: 0;
  right: 0;
}
.borders img:nth-of-type(2) {
  top: 0;
  left: 0;
  transform: scaleX(-1);
  filter: FlipH;
}
.borders img:nth-of-type(3) {
  bottom: 0;
  right: 0;
  transform: scaleY(-1);
  filter: FlipV;
}
.borders img:nth-of-type(4) {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}


.fadeIn {
  transition: opacity .2s ease;
}

.fadeIn-delay {
  transition: opacity .2s ease 3s;
}

blockquote {
  padding-left: 2rem;
  border-left: 3px solid rgba(0,0,0,0.6);
}

a {
  color: inherit;
  border-bottom: 1px solid rgba(0,0,0,0.6);
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.spin {
  transform: translateZ(0);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slot-caption {
  opacity: 0;
}

@media screen and (max-width: 450px) {
  .borders img {
    width: 150px;
  }

}


