@import 'css-mother-starter';
@import 'fonts';


body {
  background: #f3f3f3;
}

button {
  border-radius: 5px;
  border: none;
  padding: .5rem 1rem;
  line-height: 1;
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,.8);
  transition: opacity .3 ease;
}

*:focus {
    outline: none;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: default;
  opacity: 0.4;
}

.square {
  width: 100%;
}

.slots {
  max-width: 411px;
  margin: 0 auto;
}

.slot-outer {
  position: relative;
  overflow: hidden;
  height: 0;
}

.o0 {
  opacity: 0;
}

.trans0 {
  transition: opacity .1s ease;
}

.slots .col-4:nth-of-type(2) .slot-outer:after,
.slots .col-4:nth-of-type(2) .slot-outer:before {
  content: '';
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0;
  background: #f3f3f3;
  position: absolute;
}

.slots .col-4:nth-of-type(2) .slot-outer:before {
  left: 0;
}

.slots .col-4:nth-of-type(2) .slot-outer:after {
  right: 0;
}

.scroll {
  transition: margin-top 3s ease;
}

.fadeIn {
  transition: opacity .3s ease 3s;
}

.slot-caption {
  opacity: 0;
}


